{% extends "Base.html" %}
{% load crispy_forms_tags %}
{% block body_block %}
  <h1 class="text-center my-4">{{title}}</h1>
  <form method="post">
      {% csrf_token %}
    {% for field in form %}
        {{ field.errors }}
        <label for="{{field.id_for_label}}" class="form-label"> {{field.label}}</label>
        {{ field }}
        {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
{% endfor %}

<input type="submit" value="Sign Up" class="btn buttoncustom my-3">

  </form>
<div class="py-3">
  <a href="{% url 'App_Login:login' %}">Already Have an Account?</a>
</div>

{% endblock body_block %}