{% extends "Base.html" %}
{% load crispy_forms_tags %}
{% block body_block %}
  <h1 class="text-center my-4">{{title}}</h1>
  <div class="container">
      <div class="row">
          <div class="col-sm-6">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
           {{form|crispy}}
          <input type="submit" value="Deliver Parcel" class="btn buttoncustom my-3">
            </form>

          </div>
          <div class="col-sm-6">
            <h2 class='text-center my-3'>Parcel Details</h2>
            {% for parcel in parcels %}

            <div class="col mb-2">
                    <div class="card p-3">
                        <div class="card-body">
                            <h3 class="card-title text-center"> Deliver to - {{parcel.parcel_deliver_to}}
                            </h3>                            
                            <h5 class="card-title text-center">Parcel Type-  {{parcel.parcel_type}}
                            </h5>
                            <p>Cost - {{parcel.parcel_cost}} Tk</p>
                            <p>COD Charge - {{parcel.parcel_cod_charge}} Tk</p>
                            <p>Return Charge - {{parcel.parcel_return_charge}} Tk</p>
                        </div>
                    </div>
            </div>
            {% endfor %}
          </div>
      </div>
  </div>
  
{% endblock body_block %}